In [14]:
import pandas as pd

In [8]:
fields = ["building_id", "sub_primaryspaceusage", "sqft", "yearbuilt", "numberoffloors"]
dfm = pd.read_csv("raw/metadata.csv", usecols=fields)
dfm=dfm.set_index('building_id')

dfe = pd.read_csv("raw/electricity_cleaned.csv")
dfe_cleaned = pd.DataFrame(dfe.drop(['timestamp'], axis=1).mean()).reset_index()
dfe_cleaned.columns = ["building_id","power_consumption"]
dfe_cleaned=dfe_cleaned.set_index("building_id")

data = pd.merge(dfm, dfe_cleaned, left_index=True, right_index=True).reset_index()

weather = ["site_id", "airTemperature", "dewTemperature", "precipDepth1HR"]
dfw = pd.read_csv("raw/weather.csv", usecols=weather)

dfw_mean = dfw.groupby("site_id").mean()
dfw_mean.reset_index()

data['site_id'] = data['building_id'].apply(lambda x: x.split('_')[0])
merged_df = pd.merge(data, dfw_mean, on='site_id', how='left')

final_df = merged_df.drop(["building_id", "site_id"], axis = 1)

new_column_order = ['sub_primaryspaceusage', 'sqft', 'yearbuilt', 'numberoffloors', 'airTemperature', 'dewTemperature', 'precipDepth1HR', 'power_consumption']

final_df = final_df[new_column_order]

final_df.columns = ['building_type', 'sqft', 'yearbuilt', 'numberoffloors', 'airTemperature', 'dewTemperature', 'precipDepth1HR', 'power_consumption']

final_df = final_df.fillna(0)

In [12]:
final_df = final_df.sample(frac=1).reset_index(drop=True)
final_df.index.name = "building_id"
final_df

,building_type,sqft,yearbuilt,numberoffloors,airTemperature,dewTemperature,precipDepth1HR,power_consumption
building_id,,,,,,,,
0,Office,408000.0,2010.0,0.0,15.661433,8.351597,0.697141,599.714626
1,Office,64743.0,0.0,0.0,13.168836,6.213631,0.836181,140.671052
2,College Laboratory,131710.0,1991.0,0.0,25.075584,3.955005,0.139824,186.922692
3,Education,75228.0,1993.0,4.0,15.102759,10.010696,0.433825,118.826085
4,Police Station,43955.0,1978.0,0.0,15.661433,8.351597,0.697141,97.534061
...,...,...,...,...,...,...,...,...
1573,Primary/Secondary Classroom,30613.0,1976.0,4.0,11.000171,8.430964,0.000000,8.840769
1574,Other - Recreation,3133.0,0.0,0.0,15.661433,8.351597,0.697141,1.756642
1575,Office,850354.0,1989.0,0.0,15.661433,8.351597,0.697141,2128.527409
1576,Primary/Secondary Classroom,28826.0,1976.0,2.0,11.000171,8.430964,0.000000,8.697919
1577,Other - Recreation,1977.0,0.0,0.0,15.661433,8.351597,0.697141,7.336859

In [13]:
final_df.to_csv("real_data.csv")